.bamboo {
  background-image: url("../img/bamboo1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  align-content: center;
  width: 100%;
  display: block;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center; 
}

.pageHeader {
  position:fixed;
  float:left; 
  display: block;
  width: 100%;
  max-width: 100%;
  height: 32px;
  background-image: linear-gradient(90deg,rgb(121, 13, 7), rgb(240, 111, 111), rgb(121, 13, 7));
  align-content: center;
  font-weight: bold;
}

.container {
  margin: auto;
  width: 100%; 
  text-align: center; 
}

/* NavBar */
.main-nav {
  width: 100%;
  margin-top: 4px;
}

.main-nav a:hover, #btn2:hover{
  color: rgb(4, 0, 0);
  background-color: rgb(244, 209, 144);
}

.btnNav {
  letter-spacing: 1px;
  padding: 8px;
  font-size: 14px;
  color: rgb(244, 209, 144);
  text-shadow: 1px 1px 1px black;
}

.row {
  margin-left: -.1%;
  width: 100%;
  text-align: center; 
  border: 8px solid rgb(121, 13, 7);
}
  
.col1 {
  width: 39%;
  margin-left: -0.1%;
  background-color: black;
  border-right: solid 5px rgb(121, 13, 7);
  padding: .5%; 
  text-align: center;
  font-weight: bold;
}

.col2 {
  width:  61.1%;
  padding: 1%  ; 
  overflow: hidden;
}

/* Right side box */
.sideBox {
  background: rgb(121, 13, 7) ;
  margin-top: 23px;
  align-content: center;
  width: 100%;
  height: 700px;
  display: block;
  padding: 10px;
}

/* Left side box */
.imgLogo {
  margin-top: 30px;
  width: 100%;
  padding: 2px;
  border-radius: 5px;
}

#sideCommentBox {
  background: rgb(121, 13, 7) ;
  align-content: center;
  width: 100%;
  font-size: 17px;
  letter-spacing: 2px;
  display: block;
  color: rgb(244, 209, 144);
  text-shadow: 2px 2px 2px black;
  padding: 10px;
}

h3 {
  margin-top: 9px;
  font-size: 18px;
  font-weight: bold;
}

/* sliding img */
#slider {
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  float: left;
  width: 20%;
}
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/* Home Index */
#imgHome {
  margin-top: 24px;
  width: 100%;
}

h5 {
  font-size: 15px;
  color: rgb(244, 209, 144);
  text-align: center;
  font-style: normal;
}

#hourBox {
  background: black ;
  margin-top: 6px;
  align-content: center;
  letter-spacing: 1px;
  color: rgb(244, 209, 144);
  padding: 5px; 
}

/* google map */
.mapouter {
  text-align:left;
}
#gmap_canvas {
  width:100%;
  height: 320px;
}

/* About Us */
.imgUs {
  margin-top: 73px;
  width: 100%;
  height: 615px;
}

h2 {
  margin-top:-645px;
  margin-left: -70px;
  color: rgb(244, 209, 144);
  text-shadow: 2px 2px 2px black;
  letter-spacing: 3px;
  font-size: 25px;
  font-weight: bold;
}
p {
  margin-top: 29px;
  font-size: 14px;
  color: rgb(244, 209, 144);
  font-weight: bold;
  text-align: left;
  font-style: oblique;
}

#usComment {
  margin-left: 14%;
  margin-top: 1%;
  width: 60%;
  padding: 4%;
  letter-spacing: 1px;
}

/* Menu */
h1 {
  margin-top: 3px;
  text-align: center;
  color: rgb(244, 209, 144);
  text-shadow: 2px 2px 2px black;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: bold;
}

h4 {
  text-shadow: 1px 1px 1px  black;
  letter-spacing: 2px;
  font-size: 18px;
  letter-spacing: 2px;
  color: rgb(244, 209, 144);
  text-align: center;
  font-style: oblique;
}
.imgMenu {
  margin-top: 28px;
  width: 100%;
}

.imgFish {
  margin-top: 42px;
  width: 53%;
}

/* Orders */
.orderBox {
  background: rgb(121, 13, 7) ;
  margin-top: 24px;
  align-content: center;
  width: 100%;
  padding: 4px;
}

.card {
  margin-top: 1px;
  font-weight: bold;
  font-size: 15px;
  position: initial;
  background-color: rgb(244, 209, 144);

}
.input-group-text{
  margin-top: -6px;
  font-weight: bold;
  font-size: 10px;
  position: initial;
}

.btn2 {
  margin-top: 1%;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(244, 209, 144);
  /* width: 60%; */
  background-color: black; 
  letter-spacing: 3px;
}

/* Acount Index */
.btn {
  margin-top: 6%;
  padding: 4px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(244, 209, 144);
  width: 40%;
  background-color: black; 
  letter-spacing: 5px;
}

.btn3 {
  color:  rgb(121, 13, 7);
  background-color:rgb(244, 209, 144);
  font-size: 20px;
  float: left;
  margin-left: 7%;
  letter-spacing: 2px;
  font-weight: bold;
  width: 40%;
  border: 2px solid black;
  padding: 2px;
  margin-top: 5%;
}

.imgApt {
  margin-top: 65px;
  width: 50%;
  border: 3px solid black;
  padding: 5px;
}

/* Acount Login */
.imgFish2 {
  margin-top: 20px;
  width: 50%;
  border: 3px solid black;
  padding: 5px;
}

/* Develpers Team */
h6 {
  margin-top: 35px;
  font-size: 20px;
  color: rgb(244, 209, 144);
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  letter-spacing: 3px;
  text-align: center;
  font-style: oblique;
}

#teamInfo {
  width: 100%;
  margin-top: 62px;
  /* background: rgb(121, 13, 7) ; */
  margin-top: 60px;
  align-content: center;
  width: 100%;
  /* padding: 10px; */
  /* padding-bottom: px; */
}

  .imgTeam {
  margin-top: 40px;
  width: 100%;
  padding: 2px;
  border: 2px solid black;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    border: 2px solid black;
    background-color: rgb(121, 13, 7);
  }
  li {
    margin: 5px;
    background-color: rgb(244, 209, 144);
    font-weight: bold;
  }