.bamboo {
  background-image: url("../img/bamboo1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  
  align-content: center;
  width: 100%;
  /* height: 1000px; */
  display: block;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center; 
}

.container {
  margin: auto;
  width: 100%; 
  text-align: center; 
}

ul {
  list-style-type: circle;
  border: 2px solid rgb(240, 111, 111);
  background-color: rgb(121, 13, 7);
}
li {
  margin: 5px;
  background-color: lightyellow;
}

.pageHeader{
  position:fixed;
  margin-top: -11px;
  /* margin-left: 96px; */
  float:left; 
  padding: 7px;
  display: block;
  width: 100%;
  height: 52px;
  background-image: linear-gradient(90deg,rgb(121, 13, 7), rgb(240, 111, 111), rgb(121, 13, 7));
  align-content: center;
  font-size: 20px;
  font-weight: bold;
}

.main-nav  {
  padding: 2px;
  font-weight: bold;
  width: 100%;
  letter-spacing: 2px;
}

.main-nav a:hover, #btn2:hover{
  color: rgb(4, 0, 0);
  background-color: rgb(244, 209, 144);
}

.btnNav {
  margin-top: 5px;
  margin-right: 20px;
  padding: 1px;
  font-size: 15px;
  color: rgb(244, 209, 144);
  text-shadow: 1px 1px 1px black;
}

.row{
  width: 100%;
  margin-left: 1px;
  margin-top: 1%;
  text-align: center; 
  border: 13px solid rgb(121, 13, 7);
  
}

.col1 {
  /* position: fixed; */
  width: 40%;
  /* background-color: rgb(121, 13, 7); */
  background-color: black;
  border-right: 13px solid rgb(121, 13, 7);
  padding: 1%; 
  text-align: center;
  font-weight: bold;
}

.col2 {
  width:  60%;
  /* background-color: rgb(121, 13, 7); */
  /* background-image: linear-gradient(90deg, rgb(35, 15, 133), rgb(172, 165, 233), rgb(35, 15, 133)); */
  padding: 1%  ; 
  overflow: hidden;
  font-weight: bold;

}

h2 {
  margin-top:-745px;
  text-align: center;
  color: rgb(244, 209, 144);
  text-shadow: 2px 2px 2px black;
  letter-spacing: 3px;
  font-size: 35px;
  font-weight: bold;
}

h1 {
  margin-top: 55px;
  text-align: center;
  color: rgb(244, 209, 144);
  text-shadow: 2px 2px 2px black;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: bold;

}

h3 {
  margin-top: 9px;
  font-size: 15px;
  color: black;
  font-weight: bold;
  text-align: center;
}

h4 {
  text-shadow: 1px 1px 1px black;
  letter-spacing: 2px;
  margin-left: -40px;
  font-size: 20px;
  color: rgb(244, 209, 144);
  text-align: center;
  font-style: oblique;
}

h5 {
  font-size: 15px;
  color: rgb(244, 209, 144);
  text-align: center;
  font-style: normal;
}

h6 {
  margin-top: -120px;
  font-size: 30px;
  color: rgb(176, 10, 10);
  font-weight: bold;
  text-align: center;
  font-style: oblique;
}

p {
  margin-top: 29px;
  /* margin-left: -155px; */
  font-size: 15px;
  color: rgb(244, 209, 144);
  font-weight: bold;
  text-align: left;
  font-style: oblique;
}

.row{
    width: 100%;
    margin-left: 1px;
    margin-top: 1%;
    text-align: center; 
    border: 13px solid rgb(121, 13, 7);
    
  }
  
  .col1 {
    /* position: fixed; */
    width: 40%;
    /* background-color: rgb(121, 13, 7); */
    background-color: black;
    padding: 1%; 
    text-align: center;
    font-weight: bold;
  }
  
  .col2 {
    width:  60%;
    /* background-color: rgb(121, 13, 7); */
    /* background-image: linear-gradient(90deg, rgb(35, 15, 133), rgb(172, 165, 233), rgb(35, 15, 133)); */
    padding: 1%  ; 
    /* overflow: hidden; */
    font-weight: bold;
  }

  .imgLogo {
    margin-top: 40px;
    width: 90%;
    padding: 2px;
    border-radius: 5px;
    /* position: relative; */
  }
  
  #sideCommentBox {
    background: rgb(121, 13, 7) ;
    margin-top: 20px;
    align-content: center;
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    display: block;
    color: rgb(244, 209, 144);
    text-shadow: 2px 2px 2px black;
    padding: 11px;
  }
  
  /* sliding img */
  #slider {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
  }
  #slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
  }
  #slider figure img {
    float: left;
    width: 20%;
  }
  @keyframes slider {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }

#imgHome {
  /* width: 700px;
  height: 350px; */
  margin-top: 28px;
  width: 100%;
}

#hourBox {
  /* background: rgb(121, 13, 7) ; */
  background: black ;
  /* margin-left: -0px; */
  margin-top: 8px;
  align-content: center;
  letter-spacing: 1px;
  color: rgb(244, 209, 144);
  padding: 5px; 
}

/* google map */
.mapouter {
  text-align:left;
}
#gmap_canvas {
  width:100%;
  height: 375px;
  margin-top: 2px; 
}

.sideBox  {
  background: rgb(121, 13, 7) ;
  margin-top: 28px;
  align-content: center;
  width: 100%;
  height: 900px;
  display: block;
  padding: 10px;
}
.orderBox  {
  background: rgb(121, 13, 7) ;
  margin-top: 28px;
  align-content: center;
  width: 100%;
  height: 900px;
  display: block;
  padding: 10px;
}

.imgUs {
  margin-top: 318px;
  margin-left: 0%;
  width: 100%;
}

#usComment {
  width: 70%;
  margin-left: 11%;
  font-size: 20px;
  margin-top: 1%;
  color: rgb(244, 209, 144);
  width: 70%;
  padding: 4%;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 1px;
  /* text-align: left; */
  /* font-style: oblique; */
}

.imgMenu {
  margin-top: 28px;
  width: 100%;
  border-radius: 5px;
}

.imgFish {
  margin-top: 25px;
  width: 50%;
}

/* #menuCommentBox  {
  background: rgb(7, 7, 7) ;
  margin-top: 15px;
  align-content: center;
  width: 100%;
  font-size: 15px;
  letter-spacing: 2px;
  display: block;
  color: rgb(244, 209, 144);
  text-shadow: 2px 2px 2px black;
  padding: 11px;
} */


.card {
  margin-top: 5px;
  text-shadow: 1px 1px 1px black;
  font-size: 15px;

  background-color: rgb(244, 209, 144);
}

.btn {

  margin-top: 6%;
  padding: 4px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(244, 209, 144);
  width: 40%;
  background-color: black; 
  letter-spacing: 5px;
}

.btn2 {

  margin-top: 2%;
  padding: 4px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(244, 209, 144);
  width: 40%;
  background-color: black; 
  letter-spacing: 5px;
}

 .pageLink {
    color:  rgb(121, 13, 7);
    background-color:rgb(244, 209, 144);
    font-size: 20px;
    float: left;
    margin-left: 7%;
    width: 40%;
    border: 3px solid black;
    padding: 5px;
    margin-top: 5%;
    border-radius: 30px;
  }


  .imgFish2 {
    margin-top: 45px;
    width: 50%;
  }

  #teamInfo {
    margin-top: 200px;
  }

  .imgTeam {
    margin-top: 40px;
    width: 100%;
    padding: 2px;
  }

