@{
  Layout = "_Layout";
}

<div class="sideBox">
  <img class="imgMenu" src="~/img/team.png">
  <h2>This site was created by:</h2>

  <ul>
    <li><a href="https://github.com/SueRtx">Sue Roberts</a></li>
    <li><a href="https://github.com/liliiakryvelova">Liliia Kryvelova</a></li>
    <li><a href="https://github.com/vzubarieva">Viktoria Zubarieva</a></li>
    <li><a href="https://github.com/n-tse">Nick Tse</a></li>
  </ul>
</div>