@{
  Layout = "_Layout";
}
<div class="sideBox">
  <h6>This site was created by:</h6>
  <img class="imgTeam" src="~/img/team2.png">

  <div id = "teamInfo">
  <ul>
    <li>Viktoria Zubarieva<br><i class="fa fa-github"></i><a href="https://github.com/vzubarieva"> github.com/vzubarieva</a><br><i class='fa fa-linkedin'></i><a href="https://www.linkedin.com/in/viktoriiazubarieva/"> linkedin.com/in/viktoriiazubarieva/</a></li>

    <li>Nick Tse<br><i class="fa fa-github"></i><a href="https://github.com/n-tse"> github.com/n-tse</a><br><i class='fa fa-linkedin'></i><a href="https://www.linkedin.com/in/nicholashtse/"> linkedin.com/in/nicholashtse</a></li>

    <li>Sue Roberts<br><i class="fa fa-github"></i><a href="https://github.com/SueRtx"> github.com/SueRtx</a><br><i class='fa fa-linkedin'></i><a href="https://www.linkedin.com/in/sun-roberts-texas/"> linkedin.com/in/sun-roberts-texas/</a></li>
    
    <li>Liliia Kryvelova<br><i class="fa fa-github"></i><a href="https://github.com/liliiakryvelova"> github.com/liliiakryvelova</a><br><i class='fa fa-linkedin'></i><a href="https://www.linkedin.com/in/liliiakryvelova/"> linkedin.com/in/liliiakryvelova/</a></li>
  </ul>
</div>
</div>