@{
  Layout = "_Layout";
}


<img src = "~/img/menu3.png">



@* <div class="hstack gap-3 pt-3 mt-3 border-top border-dark"> *@
@Html.ActionLink("See all customers", "Index", "Customers")
@Html.ActionLink("See all menuItems", "Index", "MenuItems")
<p>@Html.ActionLink("Create account", "Index", "Account")</p>
@* </div> *@