@{
  Layout = "_Layout";
}

<<<<<<< HEAD
<div class = "infoBox">
<img src = "~/img/sushi1.png">
</div>
<img src = "~/img/menu3.png">
=======

<img src="~/img/menu3.png">
>>>>>>> 09d4b7f9b2743724c9d10230a06913827eedb64b



@* <div class="hstack gap-3 pt-3 mt-3 border-top border-dark"> *@
@Html.ActionLink("See all admins", "Index", "Customers")
@Html.ActionLink("See all menu items", "Index", "MenuItems")
@* <p>@Html.ActionLink("Create account", "Index", "Account")</p> *@
@* </div> *@