@{
  Layout = "_Layout";
}

@using Microsoft.AspNetCore.Http;
@using Sushi.Models
@model List<Sushi.Models.MenuItem>;

<div class="sideBox">
  <div class="orderBox">
    <h1>Add a New Order</h1>
    @if (ViewBag != null && !string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
      <h4>@ViewBag.ErrorMessage</h4>
    }

    @using (Html.BeginForm())
    {
      <div class="card">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Menu Item</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>

          <tbody>
            @foreach (MenuItem item in Model)
            {

              <tr>
                <th scope="row" id="row">
                  @Html.Label(item.MenuItemName, item.MenuItemName, new{@class = "input-group-text"})
                </th>

                <td> @Html.Label(item.MenuItemPrice.ToString(), $"${item.MenuItemPrice.ToString()}", new {@class =
              "input-group-text"})
                </td>

                <td> @Html.TextBox(item.MenuItemId.ToString(), 0, new{@class = "input-group-text", @type = "number", @min = "0",
              @id
              =
              item.MenuItemId})
                </td>

              </tr>

            }
          </tbody>

        </table>
      </div>

      <input type="submit" value="Place Order" class="btn2" />
    }
  </div>
</div>
