@{
  Layout = "_Layout";
}

@using Sushi.Models
@model List<Sushi.Models.MenuItem>;

<div class="menuBox">
  <h1>Add a new order</h1>
  @using (Html.BeginForm())

  {

    <div class="card">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Menu item name</th>
            <th scope="col">Item price</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          @foreach (MenuItem item in Model)
          {
            <tr>
              <th scope="row">
                @Html.Label(item.MenuItemName, item.MenuItemName, new{@class = "input-group-text"})

              </th>
              <td> @Html.Label(item.MenuItemPrice.ToString(), $"${item.MenuItemPrice.ToString()}", new{@class =
            "input-group-text"})

              </td>
              <td> @Html.TextBox(item.MenuItemId.ToString(), 0, new{@class = "form-control", @type = "number", @min = "0",
            @id
            =
            item.MenuItemId})
              </td>

            </tr>

          }
        </tbody>

      </table>
      <input type="submit" value="Submit" class="btn btn-light" />
    </div>


  }
</div>
