@{
  Layout = "_Layout";
}

@using Sushi.Models;
@model List<Sushi.Models.Order>;

<div class="sideBox">
  <h1>Orders</h1>

  <div class="card">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order</th>
          <th scope="col">Items quantity</th>
          <th scope="col">Sub total price</th>
          <th scope="col">Total price</th>
        </tr>
      </thead>
      <tbody>
        @{
          int k = Model.Count;
        }
        @foreach (Order order in Model)
        {
          <tr>
            <th scope="row">
              @Html.ActionLink($"{k--}", "Details", new { id = order.OrderId })
            </th>
            <td>@order.ItemsCount.ToString()</td>
            <td>$@order.subTotalPrice.ToString()</td>
            <td>$@order.TotalPrice.ToString("0.##")</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
