@{
  Layout = "_Layout";
}

@using Sushi.Models;
@model List<Sushi.Models.Order>;

<div class="sideBox">
  <div class="orderBox">
    <h1>ORDER HISTORY</h1>

    <div class="card">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Order Number</th>
            <th scope="col">Items Quantity</th>
            <th scope="col">Sub Total Price</th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody>
          @{
            int k = Model.Count;
          }
          @foreach (Order order in Model)
          {
            <tr>
              <th scope="row">
                @Html.ActionLink($"{k--}", "Details", new { id = order.OrderId })
              </th>
              <td>@order.ItemsCount.ToString()</td>
              <td>$@order.subTotalPrice.ToString()</td>
              <td>$@order.TotalPrice.ToString("0.##")</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <img class ="imgFish" src="~/img/fish1.png">
  </div>
</div>
