@{
  Layout = "_Layout";
}

<div class="accountBox ">

  @using System.Security.Claims

  <h1>Please login</h1>
  @if (User.Identity.IsAuthenticated)
  {
    <h5 >Hello @User.Identity.Name!</h5>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" id="btnAccount" class="btn" value="Log out" />

    }
    @* <img class ="image6" src = "~/img/sushi6.png"> *@

  }
  else
  {
    <h1>Account</h1>

    <h5>@Html.ActionLink("Register", "Register", null, null, new { @class = "pageLink" })</h5>
    @Html.ActionLink("Login", "Login", null, null, new { @class = "pageLink" })
  }
</div>