@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Plese login if you are an admin</h2>
<hr />

<div class="loginBox2">
  @if (User.Identity.IsAuthenticated)
  {
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn" value="Log out" />
    }
    <img  class ="image6" src = "~/img/sushi6.png">
   
  }
  else
  {
    <h3>Register or Login to Your Account.</h3>

    @Html.ActionLink("Register", "Register", null, null, new { @class = "pageLink" })
    @Html.ActionLink("Login", "Login", null, null, new { @class = "pageLink" })
  }
</div>