@{
  Layout = "_Layout";
}

<div class="sideBox ">

  @using System.Security.Claims

  <h1>ACCOUNT</h1>
  @if (User.Identity.IsAuthenticated)
  {
    <h5 >Hello @User.Identity.Name!</h5>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" id="btnAccount" class="btn" value="Log out" />

    }

  }
  else
  {
    <h4>@Html.ActionLink("Register", "Register", null, null, new { @class = "pageLink" })</h4>
    @Html.ActionLink("Login", "Login", null, null, new { @class = "pageLink" })
  }
  <img class ="imgFish2" src = "~/img/fish3.png">
</div>