@{
  Layout = "_Layout";
}

<div class="sideBox ">

  @using System.Security.Claims

  <h1>ACCOUNT</h1>

  @if (User.Identity.IsAuthenticated)
  {
    <h6 >Hello @User.Identity.Name!</h6>

    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" id="btnAccount" class="btn" value="Log out" />
    }
  }
  else
  {
    @Html.ActionLink("Register", "Register", null, null, new { @class = "btn3" })
    @Html.ActionLink("Login", "Login", null, null, new { @class = "btn3" })
  }

  <img class ="imgApt" src = "~/img/apt2.png">
  <img class ="imgApt" src = "~/img/apt1.png">
</div>