@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Plese login</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Wellcome to Chihiro's Sushi & Bar!</p>
  <p>When you log in you can create an order and check your history of orders.</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-default" value="Log out" />
    @* @Html.ActionLink("Home", "Index", "Home", new { }) *@

  }
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
  @* @Html.ActionLink("Home", "Index", "Home", new { }) *@

}