@{
  Layout = "_Layout";
}

@using Sushi.ViewModels

@model LoginViewModel

<h2>Log in with your account for managment options:</h2>

<div class="loginBox">

  @using (Html.BeginForm())
  {
    @Html.LabelFor(m => m.Email)<br>
    @Html.TextBoxFor(m => m.Email, new { required = "required" })<br>

    @Html.LabelFor(m => m.Password)<br>
    @Html.PasswordFor(m => m.Password, new { required = "required" })

    <input type="submit" value="Login" id = "btn2" />
  }
</div>
