@{
  Layout = "_Layout";
}

<div class = "usBox">
 
  
  <h2>Our Story...</h2>
  
  <p id = "usComment">Using fresh local and seasonal ingredients is the most important element in Japanese cuisine. It also has become the primary principle for the international culinary community.<br><br> With commitment to that philosophy, CHIHIRO'S features  many seasonal ingredients of the Oregon State market in time-honoring Japanese preparation.</p>
  <img  class ="imgUs" src = "~/img/us3.png" >
</div>






