@{
  Layout = "_Layout";
}
<h2>About Us...</h2>
<img  class ="image4" src = "~/img/bk.png" >

<div id = "aboutUs">
  
  <h3>Fresh & Inspired<br>
  Cuisine</h3>
  <br>
  <p>From sushi rolls to nigiri and sashimi, our sushi can only be described as a form of art. Our finest quality fish matched with visionary, decadent flavors encourage you to savor that last bite.</p>
</div>