@{
  Layout = "_Layout";
}


<div class = "sideBox">
  <img  class ="imgUs" src = "~/img/us2.png" >
  <h2>Our Story...</h2>

  @* <h3>Fresh & Inspired
  Cuisine</h3> *@
  <p id = "usComment">Using fresh local and seasonal ingredients is the most important element in Japanese cuisine. It also has become the primary principle for the international culinary community.<br><br> With commitment to that philosophy, CHIHIRO'S features  many seasonal ingredients of the Oregon State market in time-honoring Japanese preparation.</p>
<!-- <img  class ="imgUs" src = "~/img/us2.png" > -->
</div>






