@{
  Layout = "_Layout";
}


<img  class ="imgUs" src = "~/img/us2.png" >

<div id = "aboutUs">
  <h2>Our Story...</h2>
  @* <h3>Fresh & Inspired
  Cuisine</h3> *@
<p id = "usComment">Using fresh local and seasonal ingredients is the most important<br> element in Japanese cuisine. It also has become the primary principle for the international culinary community.<br><br> With commitment to our philosophy, C H I H I R O ' S<br> features seasonal ingredients<br> of the Oregon State market<br> in time-honoring Japanese preparation.</p>
  @* <h4>From sushi rolls to nigiri and sashimi, our sushi can only be described as a form of art. 
  <br>
  <br>Our finest quality fish matched with visionary, decadent flavors encourage you to savor that last bite.</h4> *@

</div>

