@{
  Layout = "_Layout";
}

@model Sushi.Models.MenuItem

<h2>Are you sure you want to delete this?</h2>
<ul>
  <li>@Html.DisplayNameFor(model => model.MenuItemName): @Html.DisplayFor(model => model.MenuItemName)</li>
</ul>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

@Html.ActionLink("Back to List", "Index", new { })
