@{
  Layout = "_Layout";
}

@using Sushi.Models;
@model List<Sushi.Models.MenuItem>;

<h1>Menu Items</h1>


@foreach (MenuItem menuItem in Model)
{
  @Html.ActionLink($"{menuItem.MenuItemName}", "Details", " ", new { id = menuItem.MenuItemId }, new {@class="btn btn-light"})
  @Html.ActionLink($"{menuItem.MenuItemPrice}", "Details", " ", new { id = menuItem.MenuItemId }, new {@class="btn btn-light"})
}


