@{
  Layout = "_Layout";
}

<div class="sideBox">
  <h1>MENU</h1>
  <h4>Guaranteed fresh and made to order.</h4>

  <img class="imgMenu" src="~/img/menu.png">

  <img class ="imgFish" src="~/img/fish1.png">
</div>

