@{
  Layout = "_Layout";
}

@using Sushi.Models;
@model List<Sushi.Models.Customer>;

<h1>Admins</h1>
@if (@Model.Count == 0)
{
  <h3>No admins have been added yet!</h3>
}

<ul>
  @foreach (Customer customer in Model)
  {
    <li>@Html.ActionLink($"{customer.CustomerName}", "Details", new { id = customer.CustomerId })</li>
  }
</ul>

@Html.ActionLink("Add new admin", "Create")
@Html.ActionLink("Home", "Index", "Home")
