<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>@ViewBag.PageTitle</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body class="bamboo">
<div class= "container">
    <div class = "row">
        <div class = "col1"> 
            <img  class = "image1" src = "/img/title2.png" >
            @await Html.PartialAsync("NavBar")
        </div>
        <div class = "col2">

        @RenderBody()
        </div>  
    </div>
</div> 

</body>
</html>
